.announcement-form {
  width: 97%;
  margin: 0 auto;
}

.sub-ann-container {
  position: relative;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.announcement-form {
  display: none;
  flex-direction: column;
  align-items: center;
}

.announcement-header h3 {
  text-align: center;
}



.announcement-info {
  width: 90%;
  margin: 0 auto;
}

.announcement-info ul {
  list-style: none;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.announcement-info ul:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.announcement-info li {
  margin: 15px;
  font-size: 16px;
}

.announcement-content {
  margin-top: 20px;
  height: 600px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.announcement-container {
  margin: 0 auto;
  width: 100%;

}

.add-announcement {
  padding: 30px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  position: fixed;
  right: 70px;
  bottom: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.add-announcement:hover {
  background-color: #838383;
  color: white;
}

.add-announcement:active {
  transform: scale(0.95);
}

.announcement-form textarea {
  resize: none;
  width: 700px;
  height: 500px;
  font-size: 17px;
  border: 0;
  padding: 10px;
  box-shadow: 0 0 10px rgba(184, 184, 184, 0.1);
  background-color: rgb(242, 242, 242);
  outline: none;
  border-radius: 20px;
}

.subject {
  padding: 20px 40px;
  width: 50%;
  min-width: 00px;
  border: 0;
  background-color: rgb(242, 242, 242);
  border-radius: 40px;
  font-size: 17px;
  outline: none;

}

.to {
  font-size: 18px;
  font-weight: 600;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.top select {
  padding: 5px 10px;
  margin-left: 5px;
}

.text-btn {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.submit-announcement {
  padding: 15px 20px;
  border: 0;
  background-color: #1abc9c;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.submit-announcement:active {
  transform: scale(0.95);
}



.hide {
  display: none;
}

.show {
  display: flex;
}

.announcement-text {
  font-size: 20px;

}


.active-staff-announce {
  display: block;
}

.inactive-staff-announce {
  display: none;
}

@media (max-width: 560px) {
  .add-announcement {
    padding: 25px;
    right: 40px;
  }
}